/*@import "common.css";*/
html, body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    background-image: url(./img/bgImg.png);
    background-repeat: repeat-x;
    font-family: "PingFang SC","微软雅黑";
    color: #333
}
.container {
    width: 100%;
    margin: 0 auto ;
}

.top-container {
    height: 410px;
    width: 100%;
    background-image: url("./img/client-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.top-container .top-content {
    width: 1030px;
    margin: 0 auto;
    color: #31343d;
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
}

.top-container .top-content .top-des {
    color: #31343d;
    font-size: 14px;
    font-weight: 400;
    opacity: .45
}

.top-btn {
    position: relative;
    text-align: left;
    float: left;
    margin-top: 22px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    background-color: #58c36d;
    width: 144px;
    line-height: 46px;
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-weight: 200;
    opacity: .9;
    -ms-box-shadow: 0 -1px 9px 0 #8adf9b inset;
    -webkit-box-shadow: 0 -1px 9px 0 #8adf9b inset;
    -moz-box-shadow: 0 -1px 9px 0 #8adf9b inset;
    box-shadow: 0 -1px 9px 0 #8adf9b inset;
    background-repeat: no-repeat;
    background-position: 28px 9px;
    box-sizing: border-box;
}

.top-btn a {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0
}

.top-btn:hover {
    opacity: .8
}

.ios-btn {
    margin-right: 14px;
    background-size: 20px;
    background-image: url("./img/client-ios.png");
    padding-left: 58px
}

.android-btn {
    margin-right: 16px;
    background-position: 16px 10px;
    background-size: 20.84px;
    background-image: url("./img/client-andorid.png");
    padding-left: 42px
}

.client-code {
    cursor: pointer;
    position: relative;
    margin-top: 22px;
    width: 47px;
    height: 46px;
    float: left;
    background-image: url("./img/client-code.png");
    background-size: 47px;
    background-repeat: no-repeat;
}

.client-code:hover div {
    display: block
}

.client-code div {
    display: none;
    position: absolute;
    width: 137px;
    height: 137px;
    background-image: url("./img/client-codeH.png");
    background-size: 137px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 54px
}

.introduce-container {
    padding-top: 86px;
}

.introduce-container .title-one {
    width: 386px;
    margin: 0 auto
}

.introduce-container .client-title {
    background-image: url("./img/clitent-title-bg.png");
    background-size: 87px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 55px;
    padding-top: 17px;
    color: #333;
    position: relative;
}

.introduce-container .client-title .title {
    font-size: 80px;
}

.introduce-container .client-title .title span {
    left: 154px;
    top: 65px;
    position: absolute;
    font-size: 30px;
    font-weight: bold
}

.introduce-container .client-title .des {
    line-height: 24px;
    position: absolute;
    left: 154px;
    top: 120px;
    font-size: 16px;
    color: #9b9b9b;
    font-weight: lighter
}

.introduce-container .client-one {
    margin-top: 20px;
    padding-top: 100px;
    text-align: center;
    height: 672px;
    background-repeat: no-repeat;
    background-size: content;
    background-position: center;
    background-image: url("./img/client-one-bg.png")
}

.introduce-container .client-one img{
    margin: 0 auto;
}

.introduce-container .client-two {
    margin-top: 132px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url("./img/client-two-bg.png");
    overflow: hidden;
}

.introduce-container .client-two div {
    width: 841px;
    margin: 0 auto;
}

.introduce-container .client-two img{
    float: left;
}

.introduce-container .client-two div .title-two {
    margin-top: 245px;
    margin-left: 65px;
    width: 340px;
    float: right
}

.introduce-container .client-three {
    margin-top: 132px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./img/client-three-bg.png");
}

.introduce-container .client-three div {
    width: 841px;
    margin: 0 auto;
}

.introduce-container .client-three div .title-three {
    margin-right: 55px;
    margin-top: 245px;
    width: 367px;
    float: left
}

.introduce-container .client-four {
    margin-top: 132px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-image: url("./img/client-two-bg.png");
    overflow: hidden;
}

.introduce-container .client-four div {
    width: 841px;
    margin: 0 auto;
}

.introduce-container .client-four div .title-four {
    margin-top: 245px;
    margin-left: 45px;
    width: 340px;
    float: right
}

.introduce-container .client-four .title-des {
    color: #333;
    left: 154px;
    top: 65px;
    font-size: 30px;
    font-weight: bold
}

.introduce-container .client-four .des {
    padding-top: 15px;
    position: initial
}

.introduce-container .client-four img{
    float: left;
}

.introduce-container .client-bottom {
    background-image: url("./img/client-bottom-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    line-height: 29px;
    width: 406px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    color: #333;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    padding-top: 138px;
}

.introduce-container .client-bottom .top-btn {
    margin-top: 33px;
    margin-right: 15px
}

.introduce-container .client-bottom .ios-btn {
    margin-left: 20px
}

.introduce-container .client-bottom .client-code {
    margin-top: 33px
}