/* CSS Document */

html,body,div,h1,h2,h3,h4,h5,h6,span,i,em,strong,b,ul,dl,ol,li,p,img,form{ padding:0; margin:0;}
ul li,ol li{ list-style:none;}
a{ color:#6a6a6a; text-decoration:none;cursor:pointer}
body{ color:#6a6a6a; font:12px "微软雅黑";height:100%;width:100%}
i,em,h1,h2,h3,h4,h5,h6{ font-style:normal; font-weight:normal;}
img{ display:block; border:0;}
.border0{ border:0;}
.clearfix:after{
	content: "."; display: block;clear: both;font-size: 0;height: 0;overflow: hidden;visibility: hidden;
}

