
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-zhaoxiangji"></i>
                    <div class="name">照相机</div>
                    <div class="fontclass">.icon-zhaoxiangji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiuli"></i>
                    <div class="name">修理</div>
                    <div class="fontclass">.icon-xiuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-msnui-menu"></i>
                    <div class="name">菜单</div>
                    <div class="fontclass">.icon-msnui-menu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shengyin"></i>
                    <div class="name">声音</div>
                    <div class="fontclass">.icon-shengyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconjia"></i>
                    <div class="name">加号</div>
                    <div class="fontclass">.icon-iconjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shizhong"></i>
                    <div class="name">时钟</div>
                    <div class="fontclass">.icon-shizhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinlingyingcaiwangtubiao21"></i>
                    <div class="name">笑脸</div>
                    <div class="fontclass">.icon-jinlingyingcaiwangtubiao21</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianying1"></i>
                    <div class="name">电影</div>
                    <div class="fontclass">.icon-dianying1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hezi"></i>
                    <div class="name">盒子</div>
                    <div class="fontclass">.icon-hezi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiezi"></i>
                    <div class="name">鞋子</div>
                    <div class="fontclass">.icon-xiezi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xingzhuang10"></i>
                    <div class="name">卡券</div>
                    <div class="fontclass">.icon-xingzhuang10</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-htmal5icon35"></i>
                    <div class="name">菜单</div>
                    <div class="fontclass">.icon-htmal5icon35</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gou"></i>
                    <div class="name">gou</div>
                    <div class="fontclass">.icon-gou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shape12"></i>
                    <div class="name">电池</div>
                    <div class="fontclass">.icon-shape12</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuandui"></i>
                    <div class="name">团队</div>
                    <div class="fontclass">.icon-tuandui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-favfill-copy"></i>
                    <div class="name">收藏夹</div>
                    <div class="fontclass">.icon-favfill-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibiaoti1"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-weibiaoti1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qianbi"></i>
                    <div class="name">铅笔</div>
                    <div class="fontclass">.icon-qianbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuaxin"></i>
                    <div class="name">刷新</div>
                    <div class="fontclass">.icon-shuaxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hezi101"></i>
                    <div class="name">盒子1-01</div>
                    <div class="fontclass">.icon-hezi101</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-nvzhuang"></i>
                    <div class="name">女装</div>
                    <div class="fontclass">.icon-nvzhuang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bofang"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-bofang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji1"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liulan"></i>
                    <div class="name">浏览</div>
                    <div class="fontclass">.icon-liulan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lianxi"></i>
                    <div class="name">联系</div>
                    <div class="fontclass">.icon-lianxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-book"></i>
                    <div class="name">书本</div>
                    <div class="fontclass">.icon-book</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-book-2"></i>
                    <div class="name">书</div>
                    <div class="fontclass">.icon-book-2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lvhang"></i>
                    <div class="name">旅行</div>
                    <div class="fontclass">.icon-lvhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pingtaijieshao"></i>
                    <div class="name">平台介绍</div>
                    <div class="fontclass">.icon-pingtaijieshao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索 (2)</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chuizi"></i>
                    <div class="name">锤子</div>
                    <div class="fontclass">.icon-chuizi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fukuan"></i>
                    <div class="name">付款</div>
                    <div class="fontclass">.icon-fukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiqiren"></i>
                    <div class="name">机器人</div>
                    <div class="fontclass">.icon-jiqiren</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon-test1"></i>
                    <div class="name">餐具</div>
                    <div class="fontclass">.icon-icon-test1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuanzhang"></i>
                    <div class="name">转账</div>
                    <div class="fontclass">.icon-zhuanzhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangxingweixuanzhong"></i>
                    <div class="name">方形未选中</div>
                    <div class="fontclass">.icon-fangxingweixuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-diannao"></i>
                    <div class="name">电脑</div>
                    <div class="fontclass">.icon-diannao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hongbao"></i>
                    <div class="name">红包</div>
                    <div class="fontclass">.icon-hongbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ziyuan"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-ziyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiazai"></i>
                    <div class="name">下载</div>
                    <div class="fontclass">.icon-xiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianying"></i>
                    <div class="name">电影</div>
                    <div class="fontclass">.icon-dianying</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-addressbook_fill"></i>
                    <div class="name">addressbook_fill</div>
                    <div class="fontclass">.icon-addressbook_fill</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dengpao"></i>
                    <div class="name">灯泡</div>
                    <div class="fontclass">.icon-dengpao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pinglun"></i>
                    <div class="name">评论</div>
                    <div class="fontclass">.icon-pinglun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianmao"></i>
                    <div class="name">天猫</div>
                    <div class="fontclass">.icon-tianmao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-taobaowang"></i>
                    <div class="name">淘宝网</div>
                    <div class="fontclass">.icon-taobaowang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon-test"></i>
                    <div class="name">H5</div>
                    <div class="fontclass">.icon-icon-test</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chonghuafei"></i>
                    <div class="name">充话费</div>
                    <div class="fontclass">.icon-chonghuafei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-richscan_icon"></i>
                    <div class="name">扫一扫</div>
                    <div class="fontclass">.icon-richscan_icon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye"></i>
                    <div class="name">首页</div>
                    <div class="fontclass">.icon-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon-test2"></i>
                    <div class="name">五角星</div>
                    <div class="fontclass">.icon-icon-test2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala"></i>
                    <div class="name">下拉箭头</div>
                    <div class="fontclass">.icon-xiala</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwuche"></i>
                    <div class="name">购物车</div>
                    <div class="fontclass">.icon-gouwuche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwudai"></i>
                    <div class="name">购物袋</div>
                    <div class="fontclass">.icon-gouwudai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-right"></i>
                    <div class="name">左箭头</div>
                    <div class="fontclass">.icon-right</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji2"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwuche1"></i>
                    <div class="name">购物车</div>
                    <div class="fontclass">.icon-gouwuche1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xin"></i>
                    <div class="name">心 爱心</div>
                    <div class="fontclass">.icon-xin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-appliances"></i>
                    <div class="name">家用电器</div>
                    <div class="fontclass">.icon-appliances</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wangzhandaohang"></i>
                    <div class="name">网站导航</div>
                    <div class="fontclass">.icon-wangzhandaohang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tupian"></i>
                    <div class="name">图片</div>
                    <div class="fontclass">.icon-tupian</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
